TEST_INTERVAL={{ interval }}
THRESHOLD_SIGNAL={{ signal_min }}
TXPOWER={{ tx_power }}dBm
DNS={{ dns }}
DNS_TARGET={{ dns_target }}
HTTP={{ http }}
HTTP_TARGET={{ http_target }}
PING={{ ping }}
PING_NUMBER={{ nb_ping }}
PING_TARGET={{ ping_target }}
SSID_TARGET={{ ssid_autorun }}
IF={{ interface }}